<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body style="background-color: lightgrey;">
    <div class="main-content">
        {{>header}}
        <p style="font-size: 1.5rem;">This site is created by Abhishek Sharma. It uses data from mapbox.com and
            openweathermap and return the Real
            Time Weather Forecast !</p>
        {{!-- <h1>{{title}}</h1> --}}
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%; border-radius: 10%;"
            class="portrait" src="/images/me.jpeg" alt="Image Not Found" />
        <br><br>
        <div style="font-size: 1.5rem; text-align: center;">
            <a href="https://github.com/nobleblackk">Github</a>
            <a href="https://www.linkedin.com/in/nobleblackk/">Linkedin</a>
        </div>
    </div>


    {{>footer}}
</body>

</html>