<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Abhishek Sharma. It uses data from mapbox.com and openweathermap!</p>
        {{!-- <h1>{{title}}</h1> --}}
        <img class="portrait" src="/images/me.jpeg" alt="Image Not Found" />
    </div>

    {{>footer}}
</body>

</html>